@import "compass";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {}

header {}

#main {}

footer {}

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  // text-align: center;
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.landing {
  background: url(../img/css1.png);
  @include background-size(cover);
  position: relative;
  .auth {
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 18px;
    a {
      color: #f1f1f1;
    }
  }
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 10px;
  margin-left: -60px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}

.swiper-slide {
  position: relative;
  .editor {
    width: 100%;
    height: 200px;  
    background: #333;
  }
  .title {
    text-align: center;
    margin-bottom: 1em;
  }
  .author {
    margin-left: 0.5em;
    background: rgba(0,0,0,0.3);
    @include box-shadow(inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3));
    padding: 8px 12px;
    border-radius: 8px;
  }
  .editor-wrapper {
    width: 50%;
    @include inline-block();
    float: left;
    overflow: hidden;
  }
  .view-wrapper {
    width: 50%;
    height: 300px;
    overflow: scroll;
  }
  .slide1, .slide4, .slide5, .slide6 {
    background: #fff;
    color: #000;
  }
}
.editor {
  font-size: 16px !important;
}
.codepen {
  @include inline-block();
  width: 126px;
  height: 63px;
  margin-top: -6px;
  // padding: 8px 12px;
  background: rgba(0,0,0,1);
  // @include box-shadow(inset 0px -5px 0px 0px rgba(0, 0, 0, 0.7));
  border-radius: 8px;
  @include background-image(url(../img/White-Large.png));
  @include background-size(100%);
}
.sub-title {
  background: #000;
  padding-left: 10px;
}
.lists {
  font-size: 36px;
  @include inline-block();
  margin-left: 200px;
}